/*All Content*/
body{
	text-align:center;
	font-family: 'Space Mono', monospace;
}

/*Image*/
img{
	margin:5px auto;
}

/*Table*/
th, td{
	padding:10px;
	border:2px solid black;
}
 
/*Media affects*/
@media screen and (max-width: 2000px){
 h1{
	font-size-adjust:20%;
 }
 li{
	 text-align: center;
	 border: 1px solid;
	 font-size: 30px; 
 }
 p{
	text-align: center;
	 border: 1px solid;
	 font-size: 30px;
 }
}

